menu "GDEY EPD Driver"

    choice GDEY_EPD_SPI_HOST
        prompt "SPI host"
        default GDEY_EPD_SPI_HOST_SPI3
        help
            官方配套板使用 SPI3_HOST。

        config GDEY_EPD_SPI_HOST_SPI2
            bool "SPI2_HOST"
        config GDEY_EPD_SPI_HOST_SPI3
            bool "SPI3_HOST"
    endchoice

    config GDEY_EPD_SPI_HOST
        int
        default 1 if GDEY_EPD_SPI_HOST_SPI2
        default 2 if GDEY_EPD_SPI_HOST_SPI3

    config GDEY_EPD_SPI_SCLK
        int "SCLK GPIO"
        default 9

    config GDEY_EPD_SPI_MOSI
        int "MOSI (Data0) GPIO"
        default 41

    config GDEY_EPD_SPI_CLOCK_HZ
        int "SPI clock (Hz)"
        default 10000000
        range 1000000 40000000
        help
            官方示例使用 10MHz。

    config GDEY_EPD_PIN_CS0
        int "CS0 GPIO (IC0 / 右半屏)"
        default 18

    config GDEY_EPD_PIN_CS1
        int "CS1 GPIO (IC1 / 左半屏)"
        default 17

    config GDEY_EPD_PIN_RST
        int "RST GPIO"
        default 6

    config GDEY_EPD_PIN_BUSY
        int "BUSY GPIO"
        default 7

    config GDEY_EPD_PIN_LOAD_SW
        int "LOAD_SW GPIO (-1 = 无)"
        default 45
        range -1 48

endmenu
